/* EMPIEZA  EMPRESA.HTML */
.empresa {
    @include flex (center);
    flex-direction: column;
    align-items: center;

    p,
    h2,
    h1 {
        @include flex (center);
        align-items: center;
        margin: 5px;
    }

    .divEmpresa {
        width: 50%;

        .tituloEmpresa {
            margin-bottom: 30px;
        }

        .figureDeposito {
            @include flex (center);
            margin: 30px;

            #deposito {
                border-radius: 30px;
                max-width: 400px;
                max-height: 400px;
            }
        }

    }
}

/* TERMINA EMPRESA.HTML */