/* EMPIEZA  EMPRESA.HTML */
.empresa {
    @include flex (center);
    flex-direction: row;
    text-align: center;

    p,
    h2,
    h1 {
        @include flex (center);
        align-items: center;
        margin: 5px;
        text-align: center;
    }

    .divEmpresa {
        width: 80%;

        .tituloEmpresa {
            margin-bottom: 30px;
        }

        .figureDeposito {
            @include flex (center);
            margin: 10px;
            width: 100%;

            #deposito {
                border-radius: 30px;
                max-width: 400px;
                max-height: 400px;
            }
        }
    }
}

/* TERMINA EMPRESA.HTML */