/* EMPIEZA INDEX.HTML */
.titulo {
    display: flex;
    justify-content: center;

    h1 {
        width: 50%;
    }
}

.contenedorVideo {
    overflow: hidden;
    padding-bottom: 400px;
    position: relative;
    height: 0;
    justify-content: center;
    margin-bottom: 20px;
    iframe {
        left: 50%;
        top: 0;
        height: 100%;
        width: 90%;
        position: absolute;
        transform: translateX(-50%);

    }
}

.productosIndex {

    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;

    a {
        transition: 0.7s;

        &:hover {
            transform: scale(1.05);
        }
    }
    .productoDestacado {

        height: 300px;
        width: 300px;
        margin:20px;
        @include flex (center);
        flex-direction: column;
        align-items: center;
        transition: 0.7s;
    
        &:hover {
            transform: scale(1.05);
            color: #000000;
        }
    
        .imgProducto {
            max-height: 250px;
            max-width: 250px;
        }
    }
}



#irArriba {
    position: fixed;
    right: 2%;
    bottom: 2%;
}
/* TERMINA INDEX.HTML */